* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  z-index: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./fonts/Roboto-Regular.ttf");
}
